.sh_illustration_animation > svg > g > #Cloudleft {
  animation: cloudleft 10s linear alternate infinite;
}

@keyframes cloudleft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(60%);
  }
}

.sh_illustration_animation > svg > g > #Cloudright {
  animation: cloudright 10s linear alternate infinite;
}

@keyframes cloudright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-40%);
  }
}

.sh_illustration_animation > svg > g > #CloudCenter {
  animation: cloudcenter 10s linear alternate infinite;
}

@keyframes cloudcenter {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-40%);
  }
}
.sh_illustration_animation > svg > g > #CloudBottom {
  animation: cloudbottom 10s linear alternate infinite;
}

@keyframes cloudbottom {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(35%);
  }
}

.sh_illustration_animation > svg > g > path[id^="star"] {
  transform-box: fill-box;
  transform-origin: center;
  animation: scalingStar 2s ease-in-out infinite alternate-reverse;
}

.sh_illustration_animation > svg > g > path[id^="star"]:nth-child(even) {
  animation-direction: alternate;
}

@keyframes scalingStar {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.2);
  }
}

.sh_illustration_animation > svg > g > g > g > #arm {
  transform-origin: top;
  transform-box: fill-box;
  animation: arm 5s linear infinite alternate;
}

@keyframes arm {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.sh_illustration_animation > svg > g > g[id="Board"] {
  animation: upDown 5s linear infinite alternate;
}

@keyframes upDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-50px);
  }
}

.sh_illustration_animation > svg > g > g[id="topRightCloud"] {
  animation: traveling 25s linear infinite alternate;
}

@keyframes traveling {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-70%);
  }
}

.sh_illustration_animation > svg > g > g[id="leftCloud"] {
  animation: travelingleft 40s linear infinite alternate;
}

@keyframes travelingleft {
  from {
    transform: translateX(-30%);
  }
  to {
    transform: translateX(50%);
  }
}
.sh_illustration_animation > svg > g > g[id="centerCloud"] {
  animation: travelingcenter 100s linear infinite alternate;
}

@keyframes travelingcenter {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(40%);
  }
}
