.sh_logoAnimation > svg > circle {
  transform-box: fill-box;
  transform-origin: center center;
  animation: scale 1s linear infinite;
  animation-direction: alternate;
}

.sh_logoAnimation > svg > circle + circle {
  animation-direction: alternate-reverse;
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
