.postContentStyling > h2 {
  font-size: 20px;
  margin-top: 24px;
  font-weight: 500;
}

.postContentStyling > h3 {
  margin-top: 24px;
  font-weight: 500;
}

.postContentStyling > ul {
  list-style-type: disc;
  padding-left: 2rem;
}

.postContentStyling > img {
  margin-top: 8px;
  display: block;
}

.postContentStyling > p > a {
  color: #bc6c25;
}

.postContentStyling > p > a:hover {
  text-decoration: underline;
}

.postContentStyling > p > q {
  margin-top: 8px;
  font-style: italic;
}

.postContentStyling > blockquote {
  margin-top: 8px;
  background-color: #2836182d;
  color: #283618;
  padding: 8px;
  text-align: center;
  font-weight: 500;
}

@media (min-width: 640px) {
  .postContentStyling > h2 {
    font-size: 24px;
    margin-top: 32px;
  }

  .postContentStyling > blockquote {
    margin-top: 12px;
    font-size: 20px;
    width: 50%;
    margin-inline: auto;
  }
}
@media (min-width: 1024px) {
  .postContentStyling > h2 {
    font-size: 32px;
    margin-top: 28px;
  }
  .postContentStyling > img {
    margin-top: 16px;
  }
}
