.sh_illustration_animation > svg {
  height: 100%;
  aspect-ratio: 1/1;
}

.sh_illustration_animation > svg > g > #Cloudleft {
  animation: cloudleft 10s linear;
}

@keyframes cloudleft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(60%);
  }
}

.sh_illustration_animation > svg > g > #Cloudright {
  animation: cloudright 10s linear;
}

@keyframes cloudright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-40%);
  }
}

.sh_illustration_animation > svg > g > #CloudCenter {
  animation: cloudcenter 10s linear;
}

@keyframes cloudcenter {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-40%);
  }
}
.sh_illustration_animation > svg > g > #CloudBottom {
  animation: cloudbottom 10s linear;
}

@keyframes cloudbottom {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(35%);
  }
}

.sh_illustration_animation > svg > g > path[id^="star"] {
  transform-box: fill-box;
  transform-origin: center;
  animation: scalingStar 2s ease-in-out infinite alternate-reverse;
}

.sh_illustration_animation > svg > g > path[id^="star"]:nth-child(even) {
  animation-direction: alternate;
}

@keyframes scalingStar {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.2);
  }
}

.sh_illustration_animation > svg > g > g > g > #arm {
  transform-origin: top;
  transform-box: fill-box;
  animation: arm 5s linear infinite alternate;
}

@keyframes arm {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
